html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/background.jpg);
    
}
main{
    font-family: sans-serif;
 
    width: 90%;
    height: 90%;
    background-color:rgba(1,1,1,0.6);
    border-radius: 15px;
    
    /*grid*/
    display:grid;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px; 
    grid-template-rows: 20px 1fr 1fr 350px 20px;
    grid-gap: 2px;
}


main div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}

/*Eventos*/

#blancas:active{
    background-color:rgb(200,200,200);
    margin-bottom: 15px;
    transition: all 0.2s ease;

}
#negras:active{
    background-color:rgb(10,10,10);
    margin-bottom: 40px;
    transition: all 0.2s ease;
}


/* Atributos teclas */


#negras{
    background-color: rgb(0,0,0);
    color:beige;
    font-size:20px;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    cursor:pointer;
    
    box-shadow: 5px 5px 5px rgba(1,1,1,.5);
}

#blancas{
    background-color: white;
    color:black;
    font-size:22px;
    border-radius: 0 0 20px 20px;
    cursor:pointer;
    
    box-shadow: 5px 4px 8px rgba(1,1,1,1);
}

.titulo{
    font-size:50px;
    color: aliceblue;
    grid-column:2/15;
    grid-row: 2/3;
    
    text-shadow: 5px 4px 8px rgba(1,1,1,1);
}
.notas{
    font-size:20px;
    color: aliceblue;
    
    grid-column:2/15;
    grid-row:3/4;
}

#cadena{
    font-size: 28px;
    border: none;
    width: 50%;
    height: 50%;
    padding-left: 10px;
    border-radius: 5px;
}

#boton{
    font-weight: bold;
    color:aliceblue;
    border:none;
    border-radius: 20px;
    margin-left:2%;
    background: #732424;
    width:7%;
    height: 30%;
    cursor: pointer;
    
    box-shadow: 5px 3px 10px rgba(1,1,1,1);

}

#boton:active{
    box-shadow: none;

}

/*blancas*/

.do{
    grid-column:2;
    grid-row:4;
    
}
.re{
    grid-column:4;
    grid-row:4;
  
}
.mi{
    grid-column:6;
    grid-row:4;
 
}
.fa{
    grid-column:7;
    grid-row:4;
   
}
.sol{
    grid-column:9;
    grid-row:4;
   
}
.la{
    grid-column:11;
    grid-row:4;
 
}
.si{
    grid-column:13;
    grid-row:4;
 
}
.du{
    grid-column:14;
    grid-row:4;

}

/*NEGRAS*/

.dom{
    grid-column:3;
    grid-row:4;
   
}
.rem{
    grid-column:5;
    grid-row:4;

}
.fam{
    grid-column:8;
    grid-row:4;
   
    
}
.solm{
    grid-column:10;
    grid-row:4;
    
}
.lam{
    grid-column:12;
    grid-row:4;
   
}

@media (max-width: 700px) {
    main{

    grid-template-columns: 20px 5px 5px auto 20px;
        
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px ; 

    }
    .titulo{
      
        display:none;
    }
    .notas{
       grid-row:15;
       grid-column:4;
       font-size:30px;
    }
    
    #boton{
    width:20%;
    height: 50%;
}
    
    #cadena{
    font-size: 22px;

    width: 80%;
    height: 80%;
    padding-left: 10px;
    border-radius: 5px;
}
    
    #negras{
         font-size:15px;
        margin-bottom: 0px;
        margin-right: 20px;
        border-radius: 0 20px 20px 0px;
    }
       #blancas{
        font-size:15px;
        border-radius: 0 20px 20px 0px;
    }
    
    #blancas:active{
        margin-right: 15px;
        margin-bottom: 0;
    }
    #negras:active{
        margin-right: 20px;
        margin-bottom: 0;
    }
    
     .do{
    grid-column:4;
    grid-row:14; 
    }
     .re{
      grid-column:4;
      grid-row:12; 
    }
    
     .mi{
    grid-column:4;
    grid-row:10; 
}
    .fa{
      grid-column:4;
      grid-row:9; 
    }
     .sol{
    grid-column:4;
    grid-row:7; 
}
    .la{
      grid-column:4;
      grid-row:5; 
    }
    .si{
      grid-column:4;
      grid-row:3; 
    }
    .du{
      grid-column:4;
      grid-row:2; 
    }

 /*NEGRAS*/
    
.dom{
    grid-column:4;
    grid-row:13;
   
}
.rem{
    grid-column:4;
    grid-row:11;

}
.fam{
    grid-column:4;
    grid-row:8;
   
    
}
.solm{
    grid-column:4;
    grid-row:6;
    
}
.lam{
    grid-column:4;
    grid-row:4;
   
}
    
}